
.topo ul li:nth-child(1) a{
  color: blue;
}
main{
  flex:1;
}
.corpo {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
 
}
.titulo{
text-align: center;
justify-content: center;
}
.corpo > p {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.container-card {
  padding-top: 40px;
  max-width: 90%;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.card{
  border: solid 1px black;
  max-width: 100%;
  flex: 0 1 300px;
  overflow: hidden;

}
.item{
 width: 100%;
  /* height: 200px;  */
  flex: 1 1;
}


.card-body{
  padding: 0;
  margin: 0;
  flex: 1 1;
}

